<form id='searchform' [formGroup]="searchForm" class="example-form">

  <div id="divSearchFilters" class='mat-elevation-z6'>

    <div id='divJobSearch' class='mat-elevation-z6'>
      <div id='filterOpts'>
        <mat-form-field id="filter-field">
          <mat-label>Filter on...</mat-label>
          <select formControlName="searchFilter" matNativeControl>
            <!--<option value="">&nbsp;</option>-->
            <option value="{{column}}" *ngFor="let column of searchFilterOptions">{{column}}</option>
          </select>
        </mat-form-field>
        <i class="fa fa-filter filterFunnel" aria-hidden="true"></i>
      </div>
    
      <div id='filterTxt'>
        <mat-form-field id="search-field">
          <mat-label>Search Text</mat-label>
          <input formControlName="searchText" matInput placeholder="Some text" value="">
        </mat-form-field>
        <i class="fa fa-search fa-1 searchGlass" aria-hidden="true" (click)='clickSearch()'></i>
    
        <button class='hidden' mat-raised-button (click)='clickSearch()'>Submit</button>
        <!--<button mat-raised-button (click)='clickClear()'>Clear</button>-->
      </div>
    
    </div>

    <mat-divider></mat-divider>

    <div id='clearfilters'>
      Filter Results: {{filteredJobs.length}}<button id="clearSearch" (click)='clickClear()'>Clear Filters</button>
    </div>      

    <mat-divider></mat-divider>


    <div id="divFilterButtons">
      <mat-chip-list #matChipList='matChipList' selectable>
        <mat-chip #c="matChip" (click)="toggleSelection(c)" *ngFor="let fam of jobFamilies;">{{fam}}</mat-chip>
      </mat-chip-list>
    </div>


  </div>
</form>