<table id="tblJobDetails">
    <tr><th>JDMJobDescHistoryID</th>        <td>{{jobDetails.JDMJobDescHistoryID}}</td></tr>
    <tr><th>CompanyJobCode</th>     <td>{{jobDetails.CompanyJobCode}}</td></tr>
    <tr><th>CompanyJobTitle</th>    <td>{{jobDetails.CompanyJobTitle}}</td></tr>

    <tr><th>JobFamily</th>          <td>{{jobDetails.JobFamily}}</td></tr>
    <tr><th>CompanyJobDesc</th>     <td>{{jobDetails.CompanyJobDesc}}</td></tr>
    <tr><th>JobFLSAStatusDesc</th>  <td>{{jobDetails.JobFLSAStatusDesc}}</td></tr>
    <tr><th>CompanyJobSummary</th>  <td>{{jobDetails.CompanyJobSummary}}</td></tr>
    <tr><th>Experience</th>         <td>{{jobDetails.Experience}}</td></tr>
    <tr><th>CompetencyNames</th>    <td>{{jobDetails.CompetencyNames}}</td></tr>
    <tr><th>Skills</th>             <td>{{jobDetails.Skills}}</td></tr>
    <tr><th>ReportsTo</th>          <td>{{jobDetails.ReportsTo}}</td></tr>
    <tr><th>CertificateLicenses</th>        <td>{{jobDetails.CertificateLicenses}}</td></tr>
    <tr><th>ManagePeople</th>       <td>{{jobDetails.ManagePeople}}</td></tr>
    <tr><th>EducationDesc</th>      <td>{{jobDetails.EducationDesc}}</td></tr>
    <tr><th>TimeSpents</th>         <td>{{jobDetails.TimeSpents}}</td></tr>
   
    <tr><th>TierCode</th>           <td>{{jobDetails.TierCode}}</td></tr>
    <tr><th>TierDesc</th>           <td>{{jobDetails.TierDesc}}</td></tr>
    <tr><th>JobFocus</th>           <td>{{jobDetails.JobFocus}}</td></tr>
    <tr><th>JobFunction</th>        <td>{{jobDetails.JobFunction}}</td></tr>
    <tr><th>LastApprovedByUName</th>        <td>{{jobDetails.LastApprovedByUName}}</td></tr>
    <tr><th>LastApprovedDate</th>   <td>{{jobDetails.LastApprovedDate}}</td></tr>
    <tr><th>LastUpdateByUName</th>  <td>{{jobDetails.LastUpdateByUName}}</td></tr>
    <tr><th>LastUpdateDate</th>     <td>{{jobDetails.LastUpdateDate}}</td></tr>
    <tr><th>LastPublishedByUName</th>       <td>{{jobDetails.LastPublishedByUName}}</td></tr>
    <tr><th>LastPublishedDate</th>  <td>{{jobDetails.LastPublishedDate}}</td></tr>
    <tr><th>CompanyJobDescStatusCode</th>   <td>{{jobDetails.CompanyJobDescStatusCode}}</td></tr>
    <tr><th>CompanyJobDescStatusDesc</th>   <td>{{jobDetails.CompanyJobDescStatusDesc}}</td></tr>
    <tr><th>Organization</th>       <td>{{jobDetails.Organization}}</td></tr>
    <tr><th>Date</th>               <td>{{jobDetails.Date}}</td></tr>
    <tr><th>Department</th>         <td>{{jobDetails.Department}}</td></tr>
    <tr><th>Comments</th>           <td>{{jobDetails.Comments}}</td></tr>
</table>


