<table id='container-tbl'>
  <tr>
    <td id='container-left'>
      <app-search-filter [companyJobs]=companyJobs [jobFamilies]=jobFamilies [displayedColumns]=displayedColumns
        (filterChanged)="filterHandler($event)">
      </app-search-filter>
    </td>

    <td id='container-right'>
      <div id='divJobListExpandable' class="mat-elevation-z6">

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>

          <ng-container matColumnDef="CompanyJobCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Code </th>
            <td #toggleIcon class="toggleIcon expandIcon" mat-cell *matCellDef="let element"> {{element.CompanyJobCode}} </td>
          </ng-container>

          <ng-container matColumnDef="CompanyJobTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </th>
            <td mat-cell *matCellDef="let element"> {{element.CompanyJobTitle}} </td>
          </ng-container>

          <ng-container matColumnDef="UDF_Large_Functional_Group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Large functional Group </th>
            <td mat-cell *matCellDef="let element">{{element.UDF_Large_Functional_Group.replace('null', ' ')}} </td>
          </ng-container>

          <ng-container matColumnDef="UDF_Job_Family">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Job Family </th>
            <td mat-cell *matCellDef="let element">{{element.UDF_Job_Family.replace('null', ' ')}} </td>
          </ng-container>

          <ng-container matColumnDef="UDF_Pay_Grade">
            <th mat-header-cell *matHeaderCellDef> Pay Grade </th>
            <td mat-cell *matCellDef="let element">{{element.UDF_Pay_Grade.replace('null', ' ')}} </td>
          </ng-container>

          <ng-container matColumnDef="UDF_FLSA_Classification">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FLSA Classification </th>
            <td mat-cell *matCellDef="let element">{{element.UDF_FLSA_Classification.replace('null', ' ')}} </td>
          </ng-container>

          <ng-container matColumnDef="LastUpdateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Update On...</th>
            <td mat-cell *matCellDef="let element"> {{element.LastUpdateDate}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description"
                  *ngIf="selectedJDMJobDescHistoryID!=null&&selectedJDMJobDescHistoryID==element.JDMJobDescHistoryID">
                  <app-company-job [jdmJobDescHistoryID]=selectedJDMJobDescHistoryID></app-company-job>
                </div>
              </div>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element; fetchJobDetails(element.JDMJobDescHistoryID); toggleCollapse($event.target)">
          </tr>

          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
        </mat-paginator>

      </div>
    </td>
  </tr>
</table>