
<app-search-filter 
  [companyJobs]=companyJobs 
  [jobFamilies]=jobFamilies 
  [displayedColumns]=displayedColumns
  (filterChanged)="filterHandler($event)">
</app-search-filter>


<div id='divJobListExpandable'  class="mat-elevation-z6">

 
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef class='tableCell10'>
      &nbsp;
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation();"
                    (change)="onChangeEventFunc(row, $event);$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  

    <ng-container matColumnDef="CompanyJobCode">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header class='tableCell10'> Job Code </th>
      <td mat-cell *matCellDef="let element"> {{element.CompanyJobCode}} </td>
    </ng-container>

    <ng-container matColumnDef="CompanyJobTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </th>
      <td mat-cell *matCellDef="let element"> {{element.CompanyJobTitle}} </td>
    </ng-container>

     <ng-container matColumnDef="JobFamily">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class='tableCell25'> Job Family </th>
      <td mat-cell *matCellDef="let element"> {{element.JobFamily}} </td>
    </ng-container>

    <ng-container matColumnDef="JobFLSAStatusDesc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class='tableCell10'> FLSA Status  </th>
      <td mat-cell *matCellDef="let element"> {{element.JobFLSAStatusDesc}} </td>
    </ng-container>
  
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

  <button id="clearSelections"  (click)='clearSelections()'>Clear</button>
</div>


<div id="jobDetailsList">
  <app-job-details-list [selectedDetailIDs]=selectedDetailIDs></app-job-details-list>
</div>





